/* You can add global styles to this file, and also import other style files */
.highlighted{
    background-color: azure;
    font-weight: bold;
}

.table-header{
    font-weight: bold;
    border-bottom: 2px solid #dee2e6;
    border-top: 2px solid #dee2e6;
}
